{% extends 'base.html.twig' %}

{% block title %}
	Accueil
{% endblock %}


{% block body %}
	<div class="container">
		<section class="products">

			{% for product in products %}
				{% include('include/_card.html.twig') %}
			{% endfor %}
		</section>
	</div>
{% endblock %}
