/* Reglages html */
html, body
{
     margin: 0px !important;
     padding: 0px !important;

}
/* Fin reglages html */

/* Reglages Background */
body{
    background-color:rgb(32, 32, 32);
    color:white;
    font-size:20px;
}
/* Fin reglages Background */

/* Reglages Navbar */
.navbar ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color: #333;
}

.navbar li{
    float: left;
}
.navbar li a{
    display:block;
    color:white;
    text-align:center;
    padding:14px 16px;
    text-decoration: none;
}

.navbar .deconnexion{
    background-color:rgb(129, 35, 35);
}

.navbar .brand{
    width:135px;
    margin-right:40px;
}

.navbar li .nav-link:hover{
    background-color: #111;
}
.navbar li .navbar-brand:hover{
    transform: rotate(1deg);
    font-weight:bold;
}

.navbar li.special{
    float:right;
}
/* Fin reglages Navbar */

/* Reglages Table */

.titre-index{
    padding:20px;
}

.flex-box{
    display:flex;
    justify-content: center;
    align-items: center;
}
.table{
    width:80%;
    color:black;
    background-color:#f2f2f2;
    border-radius: 10px;
    border-collapse:collapse;
    font-size: larger;
    
}

.table thead{
    background-color: #111;
    color:white;
    border: none;
    border-radius: 10px;
    height:50px;

}
.table th,td{
    text-align:center;
    padding:14px 16px;
}

.table td img{
    height:120px;
    width:140px;
}

.fa-eye{
    color:rgb(63, 63, 65);
    text-decoration: none;
    margin-right:30px;
}

.fa-eye:hover{
    transform: scale(2);
}

.fa-file-pen{
    color:rgb(187, 121, 0);
    text-decoration: none;
}

.fa-file-pen:hover{
    transform: scale(2);
}

/* Fin reglages table */

/* Reglages cards home */

.container{
    margin:48px 52px;
}

.products{
    display:flex;
    flex-wrap:wrap;
    border-radius:25px;
    padding:14px 16px;
    gap:5px;
    justify-content: space-around;
}

.product-card{
    padding:2%;
    display:flex;
    flex-direction: column;
    border-radius: 23px;
    align-items: center;
    width:273px;
    background-color: #2e2e2e;
    box-shadow: -5px 5px 15px rgb(22, 22, 22);
}

.product-image img{
    max-width:100%;
}
.product-info{
    color: rgb(255, 255, 255);
    display:flex;
    flex-direction: column;
    align-items: center;
}
.card-img{
    width: 273px;
    height: 273px;
}
/* Fin reglages cards home */

/* Reglages Register/login/form */

.container-form{
    display:flex;
    justify-content: center;
    align-items: center;
}

.container-login{
    width:500px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-normal{
    display:flex;
    flex-direction: column;
    gap : 10px;
    align-items: center;
}

.form-extra-text{
    text-align: center;
}

.form-type input{
    width:300px;
    height:30px;
}

.form-type input{
    width:300px;
    height:30px;
}

.form-type i{
    position: absolute;
    margin-top: -18px;
    margin-left: 280px;
    color: gray;
}

.form-type.city  i {
    margin-left: 274px;
}

.form-type.location-dot i{
    margin-left:285px;
}

input,label {
    display:block;
}

/* Buttons */
.button-register{
    margin:25px;
    height:45px;
    width:fit-content;
    border:none;
    background-color:#4caf50;
    font-size:18px;
    color:white;
    border-radius:20px;

}

.button-login{
    margin:25px;
    height:45px;
    width:fit-content;
    border:none;
    background-color:#4caf50;
    font-size:18px;
    color:white;
    border-radius:20px;

}

.button-login a{
    text-decoration: none;
    color:white;
}

.button-login:active{
    background-color:#367e39;
}

.button-login:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button-register:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button-register:active{
    background-color:#367e39;
}

.container-login{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.warning-login{
    margin:10px;
    font-size:16px;
}

.warning-button{
    margin:25px;
    height:45px;
    width:fit-content;
    border:none;
    background-color:#dfb707;
    font-size:18px;
    border-radius:20px;

}
.warning-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.warning-button:active{
    background-color:#a58702;
}
.warning-button a{
    text-decoration: none;
    color:black;
}

.danger-button-sm{
    height:25px;
    width:fit-content;
    border:none;
    background-color:#b80600;
    font-size:14px;
    color:white;
    border-radius:5px;
}

.danger-button-sm:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.danger-button-sm:active {
    background-color:#7c0400;
}

.danger-button-md{
    height:35px;
    width:fit-content;
    border:none;
    background-color:#b80600;
    font-size:16px;
    color:white;
    border-radius:5px;
}

.danger-button-md:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.danger-button-md:active {
    background-color:#7c0400;
}

.danger-button{
    margin:25px;
    height:45px;
    width:fit-content;
    border:none;
    background-color:#b80600;
    font-size:18px;
    color:white;
    border-radius:20px;

}

.danger-button a{
    text-decoration: none;
    color:white;
}


.danger-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.danger-button:active {
    background-color:#7c0400;
}

.grey-button{
    margin:25px;
    height:45px;
    width:fit-content;
    border:none;
    background-color:#5a5a5a;
    font-size:18px;
    color:white;
    border-radius:20px;

}

/* Fin buttons */

/* Panier */
.container-panier{
    margin:48px 52px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-achat{
    display:flex;
    flex-direction: column;
    flex-grow:1;
}

.product-container{
    display:flex;
    flex-direction: row;
    max-width:680px;
    border-radius: 10px;
    background-color: #333;
    padding:14px;
    gap:10px;
}

.product-image{
    width:110px;
    height:110px;
}
.product-image img{
    width:110px;
    height:110px;
}

.price{
    margin-top:40px;
}

.product-detail {
    display:flex;
    flex-direction: column;
}

.fa-square-minus,.fa-square-plus{
    color:grey;
}

.test{
    width:50%;
}

.test a{
    float:right;
}

.container-validation{
    text-align: center;
}

/* Fin Panier */

/* DetailProduit */

.detail-product-image{
    width:273px;
}
